.git
.github
.venv
.runtime
.vercel
.vscode
__pycache__
**/__pycache__/
*.pyc
.DS_Store
.env
backend/app/logs/
backend/app/**/*.pyc
backend/app/**/__pycache__/
frontend/next/node_modules/
node_modules/
pages-dist/
faiss-store/
